/* font */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500
  font-style: normal;
}
/* shared class */
.gary{
	color: 37e7e7e;
}
.black{
	color: black;
}
/* navbar */
header{
	width:100%;
	max-width: 1140px;
	margin: 0 auto;
}
.navbar img {
    width: 135px;
    height: 82px;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu li{
	list-style: none;
	color: gary;
}
.anchor {
    display: flex;
    gap: 40px;
}
.menu ul{
	display: flex;
	gap: 48px;
}
.menu li a{
	text-decoration: none;
	color: gray;
}
/* main body star */
/* banner part start */
.banner {
    display: flex;
    margin: 115px auto;
    width: 1140px;
}

.b-title h4 {
    font-size: 45px;
	margin-bottom: 0px;
	font-weight: bold;
}
.b-title p {
    color: #767676;
}
.b-title span {
    color: #ff5000;
}
/* cart section */
.carts {
    display: flex;
    gap: 28px;
    text-align: center;
    justify-content: space-between;
	margin-bottom: 20px;
}
.cart {
    width: 260px;
}
.cart img {
    width: 100%;
}
.cart-section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.cart-title {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.cart-title p {
    color: #767676;
}
.cart-title h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.cart h3 {
    margin-top: 0;
}
.cart p{
	margin-bottom: 10px;
}
.cart a {
    background: #ff5000;
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    padding: 10px 0;
}
/* Trusted section start */
.trusted-section {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    margin: 110px auto;
	gap: 100px;
}
.img-badge {
  position: relative;
  /* width: fit-content; */
}
.trusted-img img {
  width: 500px;
}
.trusted-badge {
    position: absolute;
    top: -108px;
    right: -103px;
}
.trusted-badge img {
  width: 250px;
}
.title-sub h4 {
    font-size: 50px;
	font-weight: bold;
}
.title-sub li {
    font-size: 20px;
    margin: 20px 0px;
	color: #8e8e8e;
}
/* Latest Deals section */
.deals-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.deals-title p {
    color: #767676;
}
.deals-section {
    width: 1140px;
    margin: 0 auto;
}

.deals-title h4 {
    font-size: 30px;
	font-weight: bold;
}

.deals-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Bloom plants */
/* left plants */
.left-plants {
    position: relative;
    max-width: 360px;
	margin-bottom: 20px;
}
.discount {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 75px;
    top: 64px;
    z-index: 2;
}
.left-plants discount{
	text-align: center;
}
.discount h3{
	margin-bottom: 0px;
}
.left-plants img{
	width: 100%;
	border-radius: 10px;
	z-index:0;
}
.left-plants h3, a{
	color: white;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 98%;
    background: #00000061;
    z-index: 1;
    border-radius: 10px;
}

/* right plants */
.right-plants {
    position: relative;
    width: 757px;
    top: -11px;
}
.discount-2 {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 276px;
    top: 181px;
    z-index: 2;
}
.discount-2 h3{
	margin-bottom: 0px;
}
.right-plants discount{
	text-align: center;
}
.right-plants img{
	width: 100%;
	border-radius: 10px;
	z-index:0;
}
.right-plants h3, a{
	color: white;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 99%;
    background: #00000061;
    z-index: 1;
    border-radius: 10px;
}
/* subscribe section */
.subscribe-section{
	background-image: url("img/news-letter-bg.png");
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 70px;
	text-align: center;
	position: relative;
}

.content {
    position: relative;
    top: 200px;
    left: 440px;
}
.content h4 {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
    position: relative;
    left: 46px;
}
.content {
    position: relative;
    top: 204px;
    left: 17px;
}
.content input {
    width: 570px;
    border: none;
    outline: none;
    padding: 10px;
}
.content a {
    background: #ff5000;
    padding: 8px;
    position: absolute;
    text-decoration: none;
}













/* Resposive design */
@media screen and (max-width: 576px){
	.navbar img {
		width: 115px;
		height: 52px;
	}
	.menu{
		align-items: center;
	}
	.navbar{
		align-items: center;
		
	}
	
	.anchor{
		visibility: hidden;
	}
	.cart-icon span{
		position: absolute;
		right: 20px;
		top: 40px;
		display: flex;
	}
	/* banner */
	.banner{
		width: 345px;
		flex-direction: column-reverse;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.b-title h4{
		font-size: 30px;
	}
	.banner img{
		position: relative;
		left: 20px;
	}
	/* cart-section */
	.cart-title {
		text-align: center;
		width: 300px;
		margin: 0 auto;
	}
	.carts {
		display: grid;
		flex-direction: column;
		gap: 28px;
		text-align: center;
		justify-content: space-between;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 20px;
	}
	.cart {
		width: 162px;
		margin: 0 5px;
	}
	
	.cart a{
		margin: 0 auto;
	}
	/* Trusted section */
	.trusted-section {
		width: 377px;
		flex-direction: column;
		gap: 0;
	}
	.trusted-badge {
		visibility: hidden;
		right: 10px;
	}
	.trusted-img img {
		width: 367px;
		margin-left: 5px;
	}
	.title-sub h4 {
		font-size: 25px;
		font-weight: bold;
	}
	/* latest delas */
	.deals-title {
		text-align: center;
		width: 98%;
		margin: 0px 5px;
	}
	.deals-section {
		margin: 0 auto;
		width: 371px;
	}
	.deals-img {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.right-plants {
		position: relative;
		width: 360px;
		/* top: -11px; */
	}
	
	.discount-2 {
		position: absolute;
		text-align: center;
		left: 77px;
		top: 62px;
		z-index: 2;
	}
	/* subscribe-section */
	.subscribe-section{
		height: 270px;
		text-align: center;
	}
	.content {
		position: absolute;
		top: 73px;
		left: 45px;
	}
	.content input {
		width: 175px;
	 
	}
	.content h4{
		font-size:16px;
	}
	.input-subscribe input {
    width: 168px;
    
	}
}

